@import 'https://fonts.googleapis.com/css?family=VT323';

body, html {
	background-color: rgba(30,30,30,1);
	padding:0;
	margin:0;
	height: 100%;
	width: 100%;
	overflow:hidden;
	perspective: 1500px;
	transform-style: preserve-3d;
	transform: rotateX(0deg) translate3d(0px,0px,0px) scaleY(1) scaleX(1);
}

/*
	Loading box + spinner. This was fun to play with. 
	Todo: Play around with different sequences
*/
.loaderBox, .loaderBoxInner {
	left:0px; right:0px; top:0px; bottom:0px;
	position : absolute;
	color : rgba(255,255,255,0.7);
	z-index : 10000;
	background-color : rgba(0,0,0,1);
	transition : opacity 3s ease-in-out;
	transition-delay: 1.5s;
	font-family: Courier,"Courier New", Consolas, monospace;
	padding:30px;
	font-size:12px;
}
	.loaderBoxInner {
		transition : opacity 1.5s ease-in-out;
		background-color: rgba(0,0,0,0);
	}
	.loaderBoxSpinner {
		width:40px;
		height:40px;
		border-top-left-radius:50%;
		border-bottom-right-radius:50%;
		background-color: rgba(255,255,255,0);
		position:absolute;
		transform-origin: 50% 50%;
		left:50%;
		top:50%;
		margin:-50px;
		animation: orbit 2s infinite alternate;
		box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
	}
	.loaderBoxSpinner:nth-child(1) {
		animation: orbit2 2s infinite alternate;
	}

	@keyframes orbit {
		0% { transform: rotateZ(0deg)}
		100% { transform: rotateZ(-270deg)}
	}
	
	@keyframes orbit2 {
		0% { transform: rotateZ(-270deg)}
		100% { transform: rotateZ(0deg)}
	}
	
@media (min-width: 800px) {

	body {
		background-image: url('../images/terminal.png'), url('../images/concrete.jpg');
		background-position: center center, center center;
		background-repeat: no-repeat;
		background-size: 800px 760px, cover;
		display: block;
		position:relative;
		transform: rotateX(0deg) translate3d(0px,0px,0px) scale(1);
		transform-origin: 50% 50%;
		transition: transform ease-in-out .6s, background-size ease-in-out .6s;
		transition-delay: 0s;
	}

	/* 
		TODO: clean this up to not use !important, and not be a bunch of hacky hacks.
		Was really just done as a bonus to show off some CSS stuff ala CSS zen garden, without any DOM changes.
		I didn't want this to be part of the CommandLine module, but maybe it should be cleaned up and included?
		
		¯\_(ツ)_/¯
		
	*/
	
	body.focus .cmdBox {
		transform: translate3d(-4px,-4px,30px);
	}
	
	body.focus {
		transform: rotateX(5deg) translate3d(0px,-20px,0px) scale(1.2);
		background-size: 830px 790px, cover;
	}

	.cmdBox {
		transform: translate3d(0px,0px,0px);
		transition: transform ease-in-out .6s;
		transform-origin: 50% 50%;
		
		transition-delay: 0s;
		position: absolute;
		display:block;
		left:50% !important;
		top:50% !important;
		margin-left:-275px !important;
		margin-top:-194px !important;
		width: 550px !important;
		height: 387px !important;
		
		mask-image: url('../images/terminal.mask.png');
		mask-size: 100% 100%;
		-webkit-mask-image: url('../images/terminal.mask.png');
		-webkit-mask-size: 100% 100%;
		
		background-color: rgba(0,0,0,0) !important;
		color: rgba(59,253,141,.75) !important;
		font-family: Courier,"Courier New", Consolas, monospace !important;
		font-size: 16px !important;
		animation: glow .015s infinite alternate ease-in-out; /* 60hzish */
	}
		.cmdDisplay {
			background-color: transparent !important;
			margin: 0px !important;
			padding: 30px 30px 0px 30px !important;
		}
		.cmdInput {
			background-color: transparent !important;
			padding: 0px 30px 30px 30px !important;
		}
	
	@keyframes glow {
		0% { text-shadow: 0px 0px 9px rgba(144, 245, 131, 1); background-color: rgba(144, 245, 131, 0.15) }
		100% { text-shadow: 0px 0px 9px rgba(144, 245, 131, 0.7); background-color: rgba(144, 245, 131, 0)}
	}
	
	::-webkit-scrollbar
	{
		width: 25px;
		height: 25px;
	}

	::-webkit-scrollbar-track
	{
		background: rgba(0, 0, 0, 0);
	}

	::-webkit-scrollbar-thumb
	{
		background: rgba(0, 0, 0, 0);
		box-shadow: -4px 0px 0px rgba(144, 245, 131, 0.5)
	}
}